@import 'reset';
// *************************************************
// BASE STYLES
// *************************************************
* {
  box-sizing: border-box
}

*:focus {
  outline: none;
}

.clearfix:after {
  clear: both;
  display: table;
  content: '';
}

.pull-right {
  float: right;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}

.center-element {
  width: 100%;
  text-align: center;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  display: none;
}

// *************************************************
// COLORS
// *************************************************

$orange: #ff6600;
$orange-dark: #d35400;
$blue: #00c;
$blue-light: #00d;
$blue-sky: #2164f4;
$grey-light: #bbb;
$grey-lighter: #ddd;
$grey-medium: #bbb;
$grey-dark: #999;
$white: #fff;

// *************************************************
// Top Navigation
// *************************************************

.nav-top {
  border-bottom: 1px solid $grey-lighter;
}

.ham-icon {
  display: none;
  height: 40px;
}

// *************************************************
// Links
// *************************************************

.link {
  float: left;
  padding: 10px 10px;
  font-size: 14px;
  color: $blue-sky;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: $blue-sky;
  }
}

.link-right {
  float: right;
}

.link-selected {
  color: black;
  font-weight: 700;
  &:visited {
    color: black;
  }
}

.link-emph {
  color: $orange;
  &:visited {
    color: $orange;
  }
}

.sublinks {
  margin-top: 50px;
  text-align: center;
}

.link-sub {
  font-size: 12px;
  color: $blue-sky;
  text-decoration: none;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  padding: 15px;
  &:hover {
    text-decoration: underline;
  }
}

.link-sub + .link-sub {
  margin-top: 10px;
}

.link-sub_detail {
  color: black;
  font-weight: 300px;
  color: $grey-light;
}

.link-showmore {
  display: none;
}
// *************************************************
// Images
// *************************************************

.logo {
  display: block;
  margin: 0 auto;
  width: 50%;
  max-width: 400px;
}

// *************************************************
// Form Elements
// *************************************************

.form-group {
  float: left;
  width: 50%;
  padding: 0 5px;
}

.label-search {
  color: $orange;
  margin-bottom: 10px;
  font-weight: 700;
  display: block;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.input-search {
  width: 100%;
  padding: 10px;
  border: 1px solid $grey-lighter;
  &:hover {
    border: 1px solid $grey-dark;
  }
  &:focus {
    border: 1px solid $orange;
  }
}

.input-search-subtext {
  display: block;
  color: #aaa;
  font-size: 12px;
  margin-top: 10px;
  font-weight: 300;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.submit-search {
  display: inline-block;
  padding: 8px;
  color: white;
  font-size: 12px;
  margin-top: 50px;
  border: 0;
  background: $blue-sky;
  border: 1px solid $blue;
  &:hover {
    cursor: pointer;
    background: $blue-light;
  }
}

.submit-search-subtext {
  color: $blue-sky;
  font-size: 12px;
  display: block;
  font-weight: 300;
  margin-top: 20px;
  padding: 10px 0;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

// *************************************************
// Footer
// *************************************************

.footer-links {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer-links_item {
  display: inline-block;
}

.footer-links_link {
  font-size: 12px;
  display: block;
  font-weight: 300;
  color: $grey-light;
  text-decoration: none;
  padding: 10px 5px;
  &:visited {
    color: $grey-light;
  }
}

footer a:hover {
  text-decoration: underline;
}

// *************************************************
// Media Queries
// *************************************************
@media screen and (max-width: 600px) {
  .form-group {
    float: none;
    width: 100%;
    padding: 0;
  }
  .footer-links {
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid $orange-dark;
  }
  .footer-links_item {
    display: block;
    border-top: 1px solid $orange-dark;
  }
  .footer-links_link {
    display: block;
    padding: 15px 0;
    background: $orange;
    color: white;
    &:hover {
      background: $orange-dark;
      color: white;
      text-decoration: none;
    }
    &:visited {
      color: $white;
    }
  }
  .sublinks {
    margin-top: 0;
  }
  .form-group+.form-group {
    margin-top: 20px;
  }
  .ham-icon {
    display: block;
    position: fixed;
  }
  .nav-top {
    display: none;
    background: $blue-sky;
    border-bottom: $blue;
  }
  .link {
    display: block;
    text-align: center;
    padding: 15px 0;
    float: none;
    color: white;
    border-top: 1px solid $blue;
    font-weight: 300;
    &:hover {
      background: $blue;
      text-decoration: none;
    }
    &:visited {
      color: white;
    }
  }
  .link-selected {
    font-weight: 700;
  }
  .link-right {
    float: none;
  }
  .link-sub {
    background: $orange;
    border-top: 1px solid $orange-dark;
    color: white;
    display: block;
    font-weight: 300;
    &:hover {
      text-decoration: none;
      background: $orange-dark;
    }
  }
  .link-sub_detail {
    display: none;
  }
  .submit-search {
    display: block;
    width: 100%;
    padding: 20px;
  }
  .link-showmore {
    display: block;
  }
  .footer-links_subitem,
  .footer-links_item {
    display: none;
  }
}
